src/conf/xml-resources/web-service-references/web/wsdl/localhost_8080/UsingDatabase/web.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pak/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pak/" name="web">
<types>
<xsd:schema>
<xsd:import namespace="http://pak/" schemaLocation="http://localhost:8080/UsingDatabase/web?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="web">
<operation name="operation">
<input wsam:Action="http://pak/web/operationRequest" message="tns:operation"/>
<output wsam:Action="http://pak/web/operationResponse" message="tns:operationResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://pak/web/operation/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://pak/web/operation/Fault/IOException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pak/web/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pak/web/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="webPortBinding" type="tns:web">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="web">
<port name="webPort" binding="tns:webPortBinding">
<soap:address location="http://localhost:8080/UsingDatabase/web"/>
</port>
</service>
</definitions>